.cqlp {
  margin-top: 150px;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;

  // padding-left: 30px;
}

.cqlp img {
 height: 60px;
 // margin-right: 15px;
 margin-bottom: 15px;
}

.minisponsor {
  height: 30px !important;
}

.mediumsponsor {
  height: 40px !important;
}

.bigsponsor {
  height: 90px !important;
}
