// Specific CSS for your home-page

// .filter {
//   text-align: center;
//   position: sticky;
//   top: 17px;
//   margin-top: 30px;
// }


// .toTrash {
//   // position: -webkit-sticky;
// }

.category {
  color: rgba(255,255,255,0.6);
  letter-spacing: 1px;
  margin-bottom: 0;
  &:hover {
    color: rgba(255,255,255,1);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 30px rgba(255,255,255,0.1);
  }
}

.active {
  color: rgba(255,255,255,1);
  box-shadow: 0 0 30px rgba(255,255,255,0.1);
}


.cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 16px;
}

a:hover {
  text-decoration:none;
}

#cancel {
  font-weight:lighter;
  color: white;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
.delete-project {
  position: absolute;
  right: 20px;
  top: 20px;
  color:white;
  font-size: 24px;
}

@media (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 576px) {
 .cards {
    grid-template-columns: 1fr;
  }
}
