// Specific CSS for your home-page

// test pour scroll horizontal

// .scrolling-wrapper {
//   overflow-x: scroll;
//   overflow-y: hidden;
//   white-space: nowrap;

//   .card {
//     display: inline-block;
//   }
// }

// .card {
//   border: 2px solid $red;
//   width: 150px;
//   height: 75px;
//   background: black;
//   &:hover {
//     width: 200px;
//     height: 125px;
//     transition: 1s;
//   }
// }

// .scrolling-wrapper {
//   height: 80px;
//   margin-bottom: 20px;
//   width: 100%;
//   -webkit-overflow-scrolling: touch;
//   &::-webkit-scrollbar {
//     display: none;
//   }
// }
.filter-category {
  margin-top: 30px;
}

.category {
  color: rgba(255,255,255,0.6);
  letter-spacing: 1px;
  &:hover {
    color: rgba(255,255,255,1);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 30px rgba(255,255,255,0.1);
  }
}

.active {
  color: rgba(255,255,255,1);
  box-shadow: 0 0 30px rgba(255,255,255,0.1);
}

.cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 16px;
  // flex-grow: 1;
}

.events {
  display: none;
}

.tvs {
  display: none;
}

.fashions {
  display: none;
}

.lives {
  display: none;
}
a:hover {
  text-decoration:none;
}

.delete-project {
  position: absolute;
  right: 20px;
  top: 20px;
  color:white;
  font-size: 24px;
}

