// Specific CSS for your home-page
.projects {
  padding-top: 150px;
}

.result {
  margin-bottom: 500px;
}
.active {
  color: rgba(255,255,255,1);
  box-shadow: 0 0 30px rgba(255,255,255,0.1);
}

.cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 16px;
}

a:hover {
  text-decoration:none;
}

.cancel-filter {
  margin-top: 80px;
}

#cancel {
  font-weight:lighter;
  color: white;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
.delete-project {
  position: absolute;
  right: 20px;
  top: 20px;
  color:white;
  font-size: 24px;
}

@media (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 576px) {
 .cards {
    grid-template-columns: 1fr;
  }
}
