<div class="banner">
  <div class="container">
    <div class= "logoBanner">
      <img src="/assets/logo_alpha.png">
      <p class= "pl-3">Light design for <span>TV</span>, <span>Events</span>, <span>Fashion</span> and <span>Live</span></p>
    </div>
    <div class="scroll animated pulse infinite">
      <i class="fas fa-arrow-down"></i><span class="ml-2">scroll to discover our projects</span>
    </div>
  </div>
</div>

