<div class="banner">
  <div class="container mask d-flex align-items-center">
    <h1 class="highlight border-fx">M-LIGHT</h1>
    <h1 class="shadow">M-LIGHT</h1>
  </div>
    <p>Light design for <span>TV</span>, <span>Events</span>, <span>Fashion</span> and <span>Live</span></p>
</div>


<!-- style="background-image: url('app/assets/images/banner.jpg');" -->

  <!-- <div class="container">
    <h1>M - LIGHT</h1>
  </div> -->
