<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1544981037-82284dcf0a0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
  <div class="container">
    <h1>M - LIGHT</h1>
    <p>Light design for you TV shows, events and live</p>
  </div>
</div>
