<div class="banner">
  <div class="container">
    <h1 class="highlight border-fx">M-LIGHT</h1>
    <p>Light design for <span>TV</span>, <span>Events</span>, <span>Fashion</span> and <span>Live</span></p>
    <div class="scroll">
      <i class="fas fa-arrow-down"></i><span class="ml-2">scroll to discover our projects</span>
    </div>
  </div>
</div>
