  <%= link_to tv_path do %>
    <h6 class="mx-3 category" id="tv">TV</h6>
  <% end %>
  <%= link_to live_path do %>
    <h6 class="mx-3 category" id="live">LIVE</h6>
  <% end %>
  <%= link_to event_path do %>
    <h6 class="mx-3 category" id="evenement">EVENT</h6>
  <% end %>
  <%= link_to fashion_path do %>
    <h6 class="mx-3 category" id="fashion">FASHION</h6>
  <% end %>
