<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/groups/484175808407503/?ref=bookmarks" target="blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.ffbg.fr/" target="blank">ffbg</a>
  </div>
  <div>
    <p class="footer-copyright">BrocéliandeBackgammonClub <i class="far fa-copyright"></i> 2020</p>
    <div class="d-flex align-items-center madeby">
      <p class="mr-2">site crée par LudoHochet</p>
      <%= link_to "https://www.linkedin.com/in/ludovic-hochet-9950924a/", target: "_blank", class:"link-pro mr-2" do %>
        <i class="fab fa-linkedin"></i>
      <% end %>
      <%= link_to "https://github.com/LudoHochet", target: "_blank", class:"link-pro" do %>
        <i class="fab fa-github"></i>
      <% end %>
    </div>
  </div>
</div>
