<div class="footer">
  <div class="footer-links">
    <a href="#" target="blank"><i class="fab fa-facebook"></i></a>
    <a href="#" target="blank"><i class="fab fa-instagram"></i></a>
    <a href="#" target="blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div>
    <p class="footer-copyright">M-light <i class="far fa-copyright"></i> 2020</p>
    <div class="d-flex align-items-center madeby">
      <p class="mr-2">made by LudoHochet</p>
      <%= link_to "https://www.linkedin.com/in/ludovic-hochet-9950924a/", target: "_blank", class:"link-pro mr-2" do %>
        <i class="fab fa-linkedin"></i>
      <% end %>
      <%= link_to "https://github.com/LudoHochet", target: "_blank", class:"link-pro" do %>
        <i class="fab fa-github"></i>
      <% end %>
    </div>
  </div>
</div>
