<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/Maximelight/" target="blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/cqlpmy/" target="blank"><i class="fab fa-instagram"></i></a>
    <!-- <a href="#" target="blank"><i class="fab fa-linkedin"></i></a> -->
  </div>
  <div>
    <p class="footer-copyright">m-light <i class="far fa-copyright"></i> 2022</p>
    <div class="d-flex align-items-center madeby">
      <p><%= link_to "CGV", about_path, class:"links" %></p>
    </div>
  </div>
</div>
