<div class="container mt-3">
  <div class="us">
    <h2>us</h2>
    <div class="presentation">
      <p>M-Light was born from a desire to pool various technical and artistic know-how, in the field of lighting in all its forms and in all places</p>
      <p>With our experience in environments such as theater, concerts, events or television, we want to bring the best to your light, video and sound events</p>
      <p><span>To respond to your request, our teams are there</span></p>
    </div>
    <p>exploiting new lighting, media servers and 3D rendering software, we will be able to highlight our skills and know-how in your area of activity</p>
    <p>Our sound, light and video equipment will be made available to you according to your needs (sale and / or rental)</p>
    <p>We carry out plans on 2D and 3D scale with a light and sound design, by offering you a scenography work</p>
    <p>Using an innovative concept, we create stage plans to the nearest centimeter thanks to an instrument analyzing scenes and places in 3D</p>
    <p>Therefore, we can make detailed plans of your stages with a very realistic rendering</p>
  </div>
  <div class="services">
    <h2>services</h2>
    <p>anxious to best meet your expectations, we provide you with a design office.
We carry out your light, sound and video events with the services of our partners and technicians</p>
    <p>we offer you:</p>
    <ul>
      <li>design office</li>
      <li>light plans</li>
      <li>equipment rentals</li>
      <li>sale of materials and consumables</li>
      <li>installation of equipment</li>
      <li>technical preparation</li>
      <li>3D capture of places</li>
      <li>qualified technicians</li>
    </ul>
  </div>
</div>
