<!-- <h1>test</h1>
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wivOtRDYBjs?enablejsapi=1&amp;autoplay=1" frameborder="0" allowfullscreen=""></iframe> -->

<!-- https://youtu.be/wivOtRDYBjs -->

<div class="container cqlp">

  <div class="row d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
      <img src="/assets/ayrton.png" class="bigsponsor">
    </div>

    <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
      <img src="/assets/portman.png" class="minisponsor">
    </div>

    <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
      <img src="/assets/axente.jpeg" class="minisponsor">
    </div>

    <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
      <img src="/assets/asteras.png">
    </div>

    <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
      <img src="/assets/vectorworks.png" class="minisponsor">
    </div>


  <!-- <div class="mt-3 row d-flex align-items-center justify-content-center"> -->
    <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
      <img src="/assets/mlight.png" class="minisponsor">
    </div>

    <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
      <img src="/assets/oliverdy.jpg" class="mediumsponsor">
    </div>

    <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
      <img src="/assets/soundlightup.png">
    </div>

    <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
      <img src="/assets/smode.png">
    </div>

    <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
      <img src="/assets/impact.png">
    </div>

  </div>

</div>
  <!-- </div> -->



  <!-- test pour small screen -->

 <!--  <div class="row d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center col-sm-6">
      <img src="/assets/ayrton.png" class="bigsponsor">
    </div>

    <div class="d-flex align-items-center justify-content-center col-sm-6">
      <img src="/assets/portman.png" class="minisponsor">
    </div>
  </div>

  <div class="row d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center col-sm-6">
      <img src="/assets/axente.jpeg" class="minisponsor">
    </div>

    <div class="d-flex align-items-center justify-content-center col-sm-6">
      <img src="/assets/asteras.png">
    </div>
  </div>

  <div class="row d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center col-sm-6">
      <img src="/assets/vectorworks.png" class="minisponsor">
    </div>

    <div class="d-flex align-items-center justify-content-center col-sm-6">
      <img src="/assets/mlight.png" class="minisponsor">
    </div>
  </div>

  <div class="row d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center col-sm-6">
      <img src="/assets/oliverdy.jpg" class="mediumsponsor">
    </div>

    <div class="d-flex align-items-center justify-content-center col-sm-6">
      <img src="/assets/soundlightup.png">
    </div>
  </div>

  <div class="row d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center col-6">
      <img src="/assets/smode.png">
    </div>

    <div class="d-flex align-items-center justify-content-center col-6">
      <img src="/assets/impact.png">
    </div>
  </div>
  </div>
</div> -->

