<!-- <h1>test</h1>
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wivOtRDYBjs?enablejsapi=1&amp;autoplay=1" frameborder="0" allowfullscreen=""></iframe> -->

<!-- https://youtu.be/wivOtRDYBjs -->

<div class="cqlp_banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://newcqlp.m-light.fr/wp-content/uploads/2023/03/1-scaled.jpg);">
</div>


<div class="container">
  <p class="text-center">CQLP revient en partenariat avec </p>

  <div class="gagnants d-flex align align-items-center">
    <div>
      <H3>Grand gagnant CQLP</H3>
      <p>Les blacks Falcon composé de Quentin et David sont les grands gagnant des CQLP en partenariat avec AYRTON. Félicitation au vainqueur, après une épreuve finale très serrée ils réussissent à s’imposer sur le fil au bout du suspense. Merci à toutes et à tous d’avoir suivi cette édition, nous vous donnons rendez-vous l’année prochaine pour de nouvelles aventures.</p>
      <p>Serge Rabbit</p>
      <%= link_to "Start now", "#", class: "btn btn-gradient" %>
    </div>

  </div>

  <div class="cqlp_sponsors">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/ayrton.png" class="bigsponsor">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/portman.png" class="minisponsor">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/axente.jpeg" class="minisponsor">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/asteras.png">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/vectorworks.png" class="minisponsor">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/mlight.png" class="minisponsor">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/oliverdy.jpg" class="mediumsponsor">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/soundlightup.png">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/smode.png">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/impact.png">
      </div>
    </div>
  </div>
</div>


