<!-- <h1>test</h1>
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wivOtRDYBjs?enablejsapi=1&amp;autoplay=1" frameborder="0" allowfullscreen=""></iframe> -->

<!-- https://youtu.be/wivOtRDYBjs -->

<div class="cqlp_banner" style="background-image: url(https://newcqlp.m-light.fr/wp-content/uploads/2023/03/1-scaled.jpg);">
</div>


<div class="container">
<!-- winner part -->
  <div class="winner row">
    <!-- flex-item 1 -->
    <div class="col-lg-4 d-flex flex-column">
      <H3 class="text-center">Grand gagnant CQLP</H3>
      <p class="text-justify">Les blacks Falcon composé de Quentin et David sont les grands gagnant des CQLP en partenariat avec AYRTON. Félicitation au vainqueur, après une épreuve finale très serrée ils réussissent à s’imposer sur le fil au bout du suspense. Merci à toutes et à tous d’avoir suivi cette édition, nous vous donnons rendez-vous l’année prochaine pour de nouvelles aventures.</p>
      <p class="text-center">Serge Rabbit</p>
      <%= link_to "Video de la finale", "#", class: "btn-white mr-auto ml-auto" %>
    </div>
    <!-- flex-item 2 -->
    <div class="col-lg-4 d-flex">
      <img class ="winner_img" src="https://newcqlp.m-light.fr/wp-content/uploads/2023/03/cropped-falcon-mec.jpg" />
      <img class ="winner_img logo_winner" src="https://newcqlp.m-light.fr/wp-content/uploads/2023/03/cropped-falcon-logo.jpg" />
    </div>
  </div>
<!-- sponsors part -->
  <p class="text-center">CQLP revient en partenariat avec </p>
  <div class="cqlp_sponsors">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/ayrton.png" class="bigsponsor">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/portman.png" class="minisponsor">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/axente.jpeg" class="minisponsor">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/asteras.png">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/vectorworks.png" class="minisponsor">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/mlight.png" class="minisponsor">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/oliverdy.jpg" class="mediumsponsor">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/soundlightup.png">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/smode.png">
      </div>
      <div class="d-flex align-items-center justify-content-center col-lg-2 col-sm-4 col-6">
        <img src="/assets/impact.png">
      </div>
    </div>
  </div>
</div>

<!-- galerie part -->
<div class="galerie">
  <H4 class="text-center">Galerie</H4>
  <p class="text-center">Découvrez quelques photos des shows réalisés par les participants</p>
    <!-- row 1 -->
  <div class="row margin_bottom">
    <div class="col-lg-3">
      <img src="https://newcqlp.m-light.fr/wp-content/uploads/2023/03/1-2-scaled.jpg" width="100%">
    </div>
    <div class="col-lg-3">
      <img src="https://newcqlp.m-light.fr/wp-content/uploads/2023/03/1-3-scaled.jpg" width="100%">
    </div>
    <div class="col-lg-3">
      <img src="https://newcqlp.m-light.fr/wp-content/uploads/2023/03/1-5-scaled.jpg" width="100%">
    </div>
    <div class="col-lg-3">
      <img src="https://newcqlp.m-light.fr/wp-content/uploads/2023/03/cropped-1-6-scaled-1.jpg" width="100%">
    </div>
  </div>
  <!-- row 2 -->
  <div class="row margin_bottom">
    <div class="col-lg-3">
      <img src="https://newcqlp.m-light.fr/wp-content/uploads/2023/03/cropped-1-7-scaled-2.jpg" width="100%">
    </div>
    <div class="col-lg-3">
      <img src="https://newcqlp.m-light.fr/wp-content/uploads/2023/03/1-8-scaled.jpg" width="100%">
    </div>
    <div class="col-lg-3">
      <img src="https://newcqlp.m-light.fr/wp-content/uploads/2023/03/cropped-1-10-scaled-2.jpg" width="100%">
    </div>
    <div class="col-lg-3">
      <img src="https://newcqlp.m-light.fr/wp-content/uploads/2023/03/cropped-1-4-scaled-1.jpg" width="100%">
    </div>
  </div>
</div>



