.banner {
  // background-size: cover;
  // background-position: center;
  // padding: 150px 0;
  height: 100vh;
}

.highlight {
  margin: 0;
  color: transparent;
  padding-top: 200px;
  // text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
  font-size: 200px;
  letter-spacing: 20px;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1558620013-a08999547a36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // text-shadow:
  //    1px  1px     #0FF,
  //   -1px  1px     #0ff,
  //    1px -1px     #0ff,
  //   -1px -1px     #0ff,
  //    1px  1px 5px #055;
  position: relative;
  background-position: bottom;
  z-index: 10;
}

.shadow {
      margin: 0;
    color: white;
    position: absolute;
    letter-spacing: 17px;
    left: 340px;
    top: 195px;
    font-size: 208px;
}

.banner p {
  font-size: 20px;
  color: rgba(255,255,255,0.7);
  font-weight: lighter;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner span {
  font-family: 'Staatliches', cursive;
  color: rgba(255,255,255,1);
}

// https://images.unsplash.com/flagged/photo-1578762313860-ed69f165c4eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60
