.banner {
  // background-size: cover;
  // background-position: center;
  // padding: 150px 0;
  height: 100vh;
  background-image: url('banner.png');
}

.mask {
  margin-top: 55px;
}

.highlight {
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: 100px;
  letter-spacing: 10px;
  padding: 20px 40px;
  background-image: url("https://images.unsplash.com/photo-1558620013-a08999547a36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: bottom;
  z-index: 10;
  box-shadow: 0 0 60px rgba(255,255,255,0.3);

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.border-fx {

  &::before,
  &::after {
    border: 4px solid white;
  }

  &::before {
    top: 0;
    left: 0;
    width: 100%;
    height:50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  &::after {
    bottom: 0;
    right: 0;
    width: 100%;
    height:50%;
    border-right-color: transparent;
    border-top-color: transparent;
  }
}

.shadow {
  color: white;
  position: absolute;
  letter-spacing: 10px;
  font-size: 102px;
}

.banner p {
  font-size: 20px;
  color: rgba(255,255,255,0.7);
  font-weight: lighter;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner span {
  font-family: 'Staatliches', cursive;
  color: rgba(255,255,255,1);
}

// https://images.unsplash.com/flagged/photo-1578762313860-ed69f165c4eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60
