.banner {
  background-size: cover;
  // margin-top: 50px;
  padding-top: 240px;
  height: 100vh;
  background-image: url('/assets/banner2.png');
  position:relative;
}

.mask {
  margin-top: 55px;
}

.logoBanner img {
  width: 35%;
}


// .highlight {
//   position: relative;
//   display: inline-block;
//   color: white;
//   font-size: 100px;
//   letter-spacing: 10px;
//   padding: 20px 40px;

//   &::before,
//   &::after {
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     z-index: 0;
// }


// .border-fx {

//   &::before,
//   &::after {
//     border: 4px solid white;
//   }

//   &::before {
//     top: 0;
//     left: 0;
//     width: 40%;
//     height:50%;
//     border-bottom-color: transparent;
//     border-left-color: transparent;
//   }

//   &::after {
//     bottom: 0;
//     right: 0;
//     width: 100%;
//     height:50%;
//     border-right-color: transparent;
//     border-top-color: transparent;
//   }
// }

.shadow {
  color: white;
  position: absolute;
  letter-spacing: 10px;
  font-size: 102px;
  top: 209px;
  left: 197px;
}

.banner p {
  font-size: 20px;
  color: rgba(255,255,255,0.7);
  font-weight: lighter;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner span {
  font-family: 'Staatliches', cursive;
  color: rgba(255,255,255,1);

}

.scroll {
  position: absolute;
  right: 100px;
  bottom: 70px;
}

@media (max-width: 992px) {
  .highlight {
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  .highlight {
    font-size: 50px;
  }
  .banner {
    background-position: center;
    padding-top: 320px;
    // height: 70vh;
  }
  .scroll {
    bottom: 230px;
  }
  .banner p {
    font-size: 18px;
    font-weight: 300;
  }
}

@media (max-width: 736px) {
  .banner {
    padding-top: 150px;
  }
  .scroll {
    bottom: 50px;
  }
}

@media (max-width: 572px) {
  .highlight {
    font-size:40px;
  }
  .banner {
    padding-top: 285px;
  }
  .banner p {
    font-size: 14px;
  }
  .scroll {
    bottom: 90px;
  }
}
