.card-project {
  background-size: cover;
  background-position: center;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-project a {
  color: white;
  &:hover {
    text-decoration: none;
  }
}

.card-project p {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Staatliches', cursive;
  letter-spacing: 2px;
  margin-bottom: 0;
}
