.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.25;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
  transition: 0.5s;
}

.footer-copyright {
  font-size: 15px;
  margin-bottom: 0px;
}

.madeby {
  font-size: 12px;
}

.madeby p {
  margin-bottom: 0px;
}

.link-pro {
  font-size: 15px;
  color: black;
  opacity: 0.25;
  text-decoration: none;
  &:hover {
    opacity: 1;
    color: black;
    transition: 0.5s;
  }
}

.content-wrapper {
  min-height: calc(100vh - 230px);
}

@media (max-width: 576px) {
  .footer{
    padding: 0px 20px;
  }
  .footer-links a {
    font-size: 18px;
  }
  .footer-copyright p {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .footer{
    padding: 0px 10px;
  }
  .footer-links a {
    font-size: 16px;
    padding: 0px 5px;
  }
  .footer-copyright {
    font-size: 10px;
  }
}
