.login-signup {
  border: 1px solid white;
  border-radius: 5px;
  padding: 30px;
  margin-top: 100px;
  box-shadow: 0 0 20px rgba(255,255,255,0.5);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.card-contact {
  display: flex;
  justify-content: center;
}

.contact-list {
  background-color: white;
  color: black;
  // flex-grow: 1;
  padding: 20px 30px;
  border-radius: 5px;
}

.form-contact {
  flex-grow: 1;
  padding: 20px;
}

.contact-form {
  // border-top: 1px solid white;
  // border-bottom: 1px solid white;
  border-radius: 5px;
  padding: 30px;
  margin-top: 100px;
  box-shadow: 0 0 15px rgba(255,255,255,0.4);
}

.contact-form h2 {
  margin-bottom: 2.5rem;
}

.contact-form p {
  margin-bottom: 0;
}

textarea.form-control {
    height: 120px;
}

input.btn-white {
    margin-top: 1.5rem;
}

.form {
  margin-top: 100px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 50px;
  box-shadow: 0 0 20px rgba(255,255,255,0.5);
}

.submit {
  width: 100%;
  display: grid;
  margin-top: 1.5rem;
}

.select-photos {
  margin-bottom: 0;
}

.form-group.file.optional.project_photos {
  margin-bottom: 0;
}

.add-photos {
  margin-bottom: 30px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  display: none;
  // visibility: hidden;
}

.add-photos h5 {
  letter-spacing: 1px;
}

input.btn-white {
  width: 100%;
}

.form-group {
  position: relative;
  // width: 50%;
}

.contact-form input.form-control {
  text-indent: 20px;
}

textarea {
  text-indent: 20px;
}

.placeholder {
  position: absolute;
  left: 10px;
  top: 43px;
  color: gray;
  z-index: 99;
}


@media (max-width: 992px) {
  .card-contact {
    display: block;
  }
  .contact-list {
    margin: 20px;
  }
}
