// .white-bg {
//   background-color: $light-gray;
// }

.form {
  margin-top: 50px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 50px;
  box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.submit {
  width: 100%;
  display: grid;
  margin-top: 20px;
}

.select-photos {
  margin-bottom: 0;
}

.form-group.file.optional.project_photos {
  margin-bottom: 0;
}
