.navbar-mlight {
  background-color: transparent;
  padding: 10px 30px;
  // position: relative;
  // border-bottom: 1px solid white;
}

.logo a {
  // font-family: 'Kaushan Script', cursive;
  font-family: 'Staatliches', cursive;
  color: white;
  opacity: 0.9;
  font-size: 20px;
  visibility: transition 3s;
  &:hover {
    opacity: 1;
    color: white;
    text-decoration: none;
  }
}

.navbar-mlight p {
  font-weight: lighter;
  margin-bottom: 0;
}

.icon-session {
 color: white;
 margin-left: 1rem;
 opacity: 0.6;
 &:hover {
  cursor: pointer;
  opacity: 1;
  transition: 1s;
 }
}

.links {
  font-family: 'Staatliches', cursive;
  color: white;
  opacity: 0.6;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 1;
    transition: 1s;
  }
}

.search-navbar {
  visibility: hidden;
}

.icon-session a {
  color:rgba(0,0,0,0.6);
  &:hover {
    text-decoration: none;
    color:rgba(0,0,0,1);
  }
}

.hidden-links {
  display: none;
}

.hidden-new-article {
  display: none;
}


@media (max-width: 992px) {
  .navbar-bbgc img {
    width: 90px;
  }
}

@media (max-width: 768px) {
  .new-article {
    display: none;
  }
  .hidden-new-article {
    display: block;
  }
  .navbar-bbgc img {
    width: 80px;
  }
}

@media (max-width: 576px) {
  .links {
    display: none;
  }
  .activelinks {
    display: none;
  }
  .hidden-links{
    display: block;
  }
  .navbar-bbgc img {
    width: 60px;
  }
}

//

  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #001E8C;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 20px;
      right: 7px;
      bottom: 7px;
      left: 20px;
      width: 10px;
      // top: 22px;
      // right: 0;
      // bottom: 0;
      // left: 22px;
      // width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }
  #search-input {
    font-family: 'Staatliches', cursive;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    color: black;

    padding: 0 80px 0 20px;
    border-radius: 30px;
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -250px;
      background: #151515;
      z-index: 6;
      &::before {
        // top: 0;
        // left: 0;
        // width: 15px;
        // top: 20px;
        // right: 7px;
        bottom: 20px;
        left: 5px;
        width: 15px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 15px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
