.show-project{
  margin-top:70px;
}

.show-project img {
  width: 100%;
  height: calc(100vh - 100px);
  // object-fit: contain;
  object-fit: cover;
}

.show-project a {
  color: white;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}
.show-image {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.infos {
  background-color: black;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  z-index: 10;
}

.thin {
  font-weight: 100;
}

.delete-photo {
  position: absolute;
  right: 20px;
  top: 20px;
  color:white;
  font-size: 24px;
}

#btn-add-photos {
  font-size: 40px;
  opacity: 0.6;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}



